<div class="footer-wrap row-group">

    <a href="/index.html" class="footer-logo">
        <img src="/images/footer_logo.svg" alt="">
    </a>

    <div class="footer-txt-wrap row-group">
        <div class="footer-txt-group row-group">
            <p class="footer-txt">
                주식회사 노바
                <span class="pc">|</span><br class="mb"> 
                대표자: 전형민
                <span class="pc">|</span><br class="mb">
                사업자번호: 869-81-02861
                <span class="pc">|</span><br class="mb">
                Email: hjun@jbnu.edu
            </p>
            <p class="footer-txt">
                주소: 전라북도 전주시 덕진구 백제대로 567</span><br class="mb"> 전북대학교 공과대학 4호관 4414호
            </p>
        </div>
        <p class="footer-copy-txt">
            Copyright 2023 NOVA Inc. All rights reserved.
        </p>
    </div>
</div>